<!-- Disable Warnings for WebStorm -->
<!--suppress HtmlUnknownTarget -->

<!-- Using Nunjucks: A rich and powerful templating language for JavaScript. -->

<!-- The macros allows you to define reusable chunks of content.
     It is similar to a function in a programming language. -->

{% macro branch() %}
<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index.html">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
</a>
{% endmacro %}

<!-- For the general, the divider macro only apply the class 'sidebar-divider', however,
     there are places where it is necessary to added one or more classes to the tag.

     The parameter: 'extraClass' is of type string, and allow concat and apply more classes
     to tag.  -->
{% macro divider(extraClass='') %}
<hr class="sidebar-divider {{ extraClass }}">
{% endmacro %}


<!-- The parameter: 'title' is of type string, and allow set the title for for heading.

     Precondition: The parameter 'title' is !== of null or empty.-->
{% macro heading(title) %}
<div class="sidebar-heading">{{ title }}</div>
{% endmacro %}


{% macro dashboard() %}
<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="../index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>
{% endmacro %}

<!-- For the general, the 'charts' macro only apply the class 'nav-item', however,
     there are places where it is necessary to mark the tag like active, added the
     'active' class.

     The parameter: 'extraClass' is of type string, and allow concat and apply more classes
     to tag. The use recommend for this parameter is added 'active' string as parameter.  -->
{% macro charts(extraClass='') %}
<!-- Nav Item - Charts -->
<li class="nav-item {{ extraClass }}">
    <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
</li>
{% endmacro %}


{% macro tables() %}
<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
</li>
{% endmacro %}


{% macro toggler() %}
<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
{% endmacro %}
